@import "~bootstrap/scss/bootstrap";
@import "pages/request.scss";
@import "pages/thank_you.scss";
@import "index.scss";

@font-face { 
    font-family: 'Stolzl'; src: url('/fonts/Stolzl.tff');
     }


body {
    background: white;
    font-family: 'Stolzl', sans-serif;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator { position: absolute; left: 0; }
input[type="time"]::-webkit-calendar-picker-indicator { position: absolute; left: 1; }

input::-webkit-datetime-edit { position: relative; left: 15px; }

input::-webkit-datetime-edit-fields-wrapper { position: relative; left: 15px; }
