.header-logo {
    margin-top: -1px;
    margin-left: 108px;
}

.welcome {
    left: 88px;
    font-family: Stolzl;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */

    text-align: center;

    color: #FFFFFF;
}

